/* Use these to make comments, Baka */

/* Common */

body {
  font-family: "monospace", sans-serif;
  background-image: url(img/watercolor-drawing-frame-border-with-transparent-flowers-transparent-rose-flowers-and-eucalyptus-leaves-in-pastel-colors-pink-blue-purple-design-for-wedding-cards-invitations-perfumery-vect.jpg);

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.font-primary {
  color: #a148dd;
}

.title-icon {
  font-size: 20px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

h2 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 20px;
}

a .font-black {
  color: #000 !important;
}

a .navbar {
  font-weight: bold;
}

/* Time to make this look pretty

About */

#about {
  margin: auto;
  max-width: 400px;
  text-align: center;
}

#about img {
  border-radius: 50%;
  width: 120px;
  margin-bottom: 10px;
}

#about .name {
  font-size: 19px;
}

#about .vocation {
  font-size: 17px;
  color: #a8a8ab;
  margin-bottom: 10px;
}

#about .skills {
  font-size: 15px;
  color: #43215e;
  margin-bottom: 10px;
}

#about .email {
  margin-top: 14px;
  font-size: 14px;
}

#about .icons {
  margin-top: 20px;
  font-size: 30px;
}

#about .icons a {
  color: #000;
}

/****This is where the project stuff goes *****/

#project {
  margin: 60px auto;
  width: 80%;
}

#project h2 {
  text-align: center;
}

#project .card {
  width: 100%;
}

#project .card-title {
  font-weight: bold;
}
